# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
keras-base=2.4.3=py_0
numpy-base=1.20.1=py38haf7ebc8_0
tensorflow-base=2.3.0=eigen_py38h75a453f_0
